{% extends 'base.html' %}

{% block htmltitle %}Gallery{% endblock %}

{% block headercontent %}
  <div class="row">
    <h1>My Gallery</h1>
  </div>
  <div class="row">
    <h4>I tend to take a lot of photos, and need somewhere to put them!</h4>
  </div>
{% endblock %}

{% block content%}
  <div class="container">
    <p>Naturally, I take a lot of photos, sometimes of really cool things! Unfortunately, due to the amount of storage on my server, and the fact that the connection bandwidth isnt great, I cannot store the images on this server, so I have decided to use <a href="https://www.flickr.com">Flickr</a>.</p>

    <p>Flickr is a great service for storing images, allowing over 1TB of storage for free, and great album creation, as well as really easy hotlinks, so I can use the images at different sizes on my website, and therefore use their CDN, taking the strain of my server!</p>

    <p>Click the button below to visit my flickr page, and see all the albums I have on there. Also, all my instagram photos are uploaded there too!</p>
  </div>
  
  <div class="container">
    <p class="center-text">
      <button onClick="navTo('https://www.flickr.com/people/theorangeone/')" class="btn btn-primary btn-lg">Visit my Flickr Page <i class="icon ion-images"></i></button>
    </p>
  </div>
{% endblock %}
