.margin {
  margin: 15px;
}

.header-bg {
  background-image: url("../img/header.jpg");
  background-position: center;
}

.text-shadow {
  text-shadow: 0 5px 3px $brand-grey-dark;
}

.outer-gutter {
  padding: 0 $grid-gutter-width / 2;
  @extend .no-gutter;

}
