header {
  background-image: url("../img/header.jpg");
  min-height: 100%;

  h1 {
    font-size: $font-size-h1 * 1.5;
    @extend .text-shadow;
  }

  .page-scroll {
    position: absolute;
    bottom: 10%;
    color: $white;
    & > i {
      font-size: $font-size-h1;
    }
  }

  .header-content-inner p {
    @extend .text-shadow;
    font-size: $font-size-h3 !important;
    font-weight: 400 !important;
  }
}
