.panel-green {
  @include panel-variant(#139F5B, $white, #139F5B, #139F5B);
}

.panel-blue {
  @include panel-variant(#337AB7, $white, #337AB7, #337AB7);
}

.btn {
  border-radius: 0;
  text-decoration: none;
}

.btn.btn-github {
  @include button-variant(#333, #F5F5F5, #D8D8D8);
}

.btn-srobo {
  @include button-variant($white, $srobo-blue, darken($srobo-blue, 5%));
}


.highlight > pre {
  font-size: $font-size-base;
}

.btn-primary-dark {
  @include button-variant($white, $brand-orange-dark, $brand-orange-dark);
}

.bg-primary p {
  a:hover {
    color: $brand-grey-dark;
  }
}

section {
  padding: 75px 0;
}

hr {
  max-width: 100px;
}

p {
  font-size: $font-size-large;
}

@keyframes pulse {
  from {
    transform: scale3d(1, 1, 1);
  }

  50% {
    transform: scale3d(1.1, 1.1, 1.1);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}
