{% extends 'content_base.html' %}

{% block pageTitle %}About{% endblock %}

{% block content %}
<div class="container">
  <div class="panel panel-default">
    <div class="panel-body">
        h
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <div class="thumbnail">
        <img src="http://cdn2.itpro.co.uk/sites/itpro/files/server_room.jpg" alt="Server Image" />
        <div class="caption">
          <h3>About Website</h3>
          <p>
            Some info about my website.
          </p>
          <p>
            <a href="" class="btn btn-primary btn-block">More Info</a>
          </p>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="thumbnail">
        <img src="" alt="" />
        <div class="caption">
          <h3>About Me</h3>
          <p>
            Some info about me. Although not very much
          </p>
          <p>
            <a href="" class="btn btn-primary btn-block">More Info</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<div id='navbar-anchor'></div>
  <div id="navbar-container" class="align h4" style="width: 96%; left: 2%; margin: 0; z-index: 10000;">
    <nav class="navbar navbar-inverse" style="border-radius: 0;">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand visible-xs"><i class="icon ion-compass"></i> Navigation</a>
        </div>
        <div class="collapse navbar-collapse" id="navbar" style=" padding-left: 0px;">
          <ul class="nav navbar-nav home-button hidden-sm">
            <li class="active home"><a href=""><i class="icon ion-home"></i></a></li>
          </ul>
          <ul class="nav navbar-nav" id="navigation">
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                Projects <i class="icon ion-ios-arrow-up navbar-icon h4"></i>
              </a>
              <ul class="dropdown-menu dropup">
                <li><a href="#"><i class="icon ion-social-freebsd-devil"></i> Pithos</a></li>
                <li><a href=""><i class="icon ion-ios-monitor"></i> BSOD Enabler</a></li>
                <li><a href=""><i class="icon ion-chatbox-working"></i> Hipchat Emoticons for All</a></li>
                <li><a href=""><i class="icon ion-social-windows"></i> Custom PC</a></li>
                <li><a href=""><i class="icon ion-android-more-vertical"></i> All Projects...</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                Code <i class="icon ion-ios-arrow-up navbar-icon h4"></i>
              </a>
              <ul class="dropdown-menu dropup">
                <li><a href="#"><i class="icon ion-code-working"></i> Code Challenges</a></li>
                <li><a href=""><i class="icon ion-ios-circle-filled"></i> Morse Code Decoder</a></li>
                <li><a href=""><i class="icon ion-ios-game-controller-a"></i> The Wiki Game Solver</a></li>
                <li><a href=""><span class="glyphicon glyphicon-print" aria-hidden="true"></span>  Printr</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                College <i class="icon ion-ios-arrow-up navbar-icon h4"></i>
              </a>
              <ul class="dropdown-menu dropup">
                <li><a href="">Student Robotics</a></li>
                <li><a href=""><i class="icon ion-cube"></i> Attack on Blocks Game</a></li>
                <li><a href=""><span class="glyphicon glyphicon-console" aria-hidden="true"></span> Student Server</a></li>
                <li><a href="#"><i class="icon ion-ios-paper"></i> EPQ</a></li>
                <li><a href="#">Wall of Sheep</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                Setup <i class="icon ion-ios-arrow-up navbar-icon h4"></i>
              </a>
              <ul class="dropdown-menu dropup">
                <li><a href="">&#128129; Desk</a></li>
                <li><a href="#"><i class="icon ion-briefcase"></i> Work</a></li>
                <li><a href="#"><i class="icon ion-model-s"></i> On the Go</a></li>
                <li><a href="#"><i class="icon ion-android-phone-portrait"></i> Devices</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-console" aria-hidden="true"></span> Servers</a></li>
                <li><a href=""><i class="icon ion-android-more-vertical"></i> All</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                Work <i class="icon ion-ios-arrow-up navbar-icon h4"></i>
              </a>
              <ul class="dropdown-menu dropup">
                <li><a href="#"><i class="icon ion-fork-repo"></i> Projects</a></li>
                <li><a href="#"><i class="icon ion-android-desktop"></i> Setup</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                Media <i class="icon ion-ios-arrow-up navbar-icon h4"></i>
              </a>
              <ul class="dropdown-menu dropup">
                <li><a href=""><i class="icon ion-social-youtube"></i> Youtube Channel</a></li>
                <li><a href="#"><i class="icon ion-social-rss"></i> Feed</a></li>
                <li><a href=""><i class="icon ion-ios-camera"></i> Gallery</a></li>
              </ul>
            </li>
            <li><a href="#">Links</a></li>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                About <i class="icon ion-ios-arrow-up navbar-icon h4"></i>
              </a>

              <ul class="dropdown-menu dropup">
                <li><a href="#"><i class="icon ion-android-person"></i> Me</a></li>
                <li><a href=""><span class="glyphicon glyphicon-tasks" aria-hidden="true"></span> Website</a></li>
                <li><a href="#"><i class="icon ion-android-contacts"></i> Contact Me</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                Account <i class="icon ion-ios-arrow-up navbar-icon h4"></i>
              </a>
              <ul class="dropdown-menu dropup">
                <li class="active hidden-xs"><a><i class="icon ion-ios-body-outline"></i> *username*</a></li>
                <li><a href="#"><i class="icon ion-ios-cog-outline"></i> Preferences</a></li>
                <li><a href="#"><i class="icon ion-log-in"></i> Login / Logout</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
{% endblock %}
