{% extends 'content_base.html' %}
{% load bootstrap %}
{% block pageTitle %}About all the things{% endblock %}

{% block content %}
<div class="container">
  <p>
    There are 2 parts to this, me and my website. Information for both of which can be found using the links below.
  </p>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <div class="thumbnail">
        <p class="center-text mega-icon">
          <span class="glyphicon glyphicon-hdd" aria-hidden="true"></span>
        </p>
        <div class="caption">
          <h3>About Website</h3>
          <p>
            Some info about my website, which clearly works well as you're using it right now!
          </p>
          <p>
            <a href="{% url 'pages:about-website' %}" class="btn btn-primary btn-block">More Info</a>
          </p>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="thumbnail">
        <p class="center-text mega-icon">
          <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
        </p>
        <div class="caption">
          <h3>About Me</h3>
          <p>
            Some info about me. Although not very much. Because Privacy!
          </p>
          <p>
            <a href="{% url 'pages:about-me'%}" class="btn btn-primary btn-block">More Info</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-10 col-sm-push-1">
      <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="heading1">
            <h4 class="panel-title" style="font-size: 21px;">
              <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="false" aria-controls="collapse1">
                Contact Me<i class="icon ion-ios-arrow-down"></i>
              </a>
            </h4>
          </div>
          <div id="collapse1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading1">
            <div class="panel-body">
              <form role="form">
                {% csrf_token %}
                {{ form|bootstrap }}
                <div class="form-group">
                  <button type="submit" class="btn btn-primary">Send</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
