{% extends 'content_base.html' %}
{% load bootstrap %}
{% block pageTitle %}About all the things{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <div class="thumbnail">
        <p class="center-text mega-icon">
          <span class="glyphicon glyphicon-hdd" aria-hidden="true"></span>
        </p>
        <div class="caption">
          <h3>About Website</h3>
          <p>
            Some info about my website, which clearly works well as you're using it right now!
          </p>
          <p>
            <a href="/about/website/" class="btn btn-primary btn-block">More Info</a>
          </p>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="thumbnail">
        <p class="center-text mega-icon">
          <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
        </p>
        <div class="caption">
          <h3>About Me</h3>
          <p>
            Some info about me. Although not very much. Because Privacy!
          </p>
          <p>
            <a href="/about/me/" class="btn btn-primary btn-block">More Info</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <h2>Contact Me</h2>
  <p>Send me a message using the form below, please don't spam! Simply click the button below to see the form.</p>
  <div class="row">
    <div class="col-xs-12">
      <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel {% if sent %}panel-default{% else %}panel-success{% endif %}">
          <div class="panel-heading" role="tab" id="heading1">
            <h4 class="panel-title" style="font-size: 21px;">
              <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="false" aria-controls="collapse1">
                View Form {% if sent %}<i class="icon ion-ios-arrow-down"></i>{% else %}<i class="icon ion-android-done"></i>{% endif %}
              </a>
            </h4>
          </div>
          <div id="collapse1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading1">
            <div class="panel-body">
              <form role="form" method="post">
                {% csrf_token %}
                {{ form | bootstrap }}
                <div class="form-group">
                  {% if sent %}
                    <button type="submit" class="btn btn-primary">Send</button>
                  {% else %}
                    <button type="button" class="btn btn-success">Already Sent</button>
                  {% endif %}
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
