{% extends 'content_base.html' %}

{% block content %}
<div class="container">
  <div class="panel panel-default">
    <div class="panel-body">
      <p>
        My website is the culmination of all my knowledge, compiled into 1 place. It not only contains all my projects, but it in itself is a project. Making sure this website works properly is a tall order, especially considering it's self hosted. And making sure that it stays secure is also important, as it contains a large amount of personal information. 
      </p>
    </div>
  </div>
</div>  

<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h2 class="panel-title">The Website</h2>
    </div>
    <div class="panel-body">
      <p>
        The website itself is written in python, using Django, and a PostgreSQL database. Now obviously for what I need this is massivly overkill, but it means I can use the skills and shortcuts I learn at work to make a very fast and good looking website. It also means that if I ever want to expand and add new features, then with python running the back end, it's going to be very easy!
      </p>
      <p>
        I went with the Django framework because it's what I work with at work, so I have a lot of contact with it, so exposure to bugs or clean ways to write things happen on a daily basis. I also chose it because it's written in python, one of my favourite languages, and one i'm highly fluent in. I chose PostgreSQL as a database engine because it's again what we use at work, and I already had some files preconfigured with the required config.
      </p> 
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h2 class="panel-title">The server</h2>
    </div>
    <div class="panel-body">
      <p>
        The website is hosted on my UK VPS. More information about it can be found <a href="">here</a>.
      </p>
    </div>
  </div>
</div>
{% endblock %}