{% extends 'base.html' %}

{% block htmltitle %}All Projects{% endblock %}

{% block headercontent %}
  <div class="row">
    <h1>All Projects</h1>
  </div>
  <div class="row">
    <h4>The list of (almost) Everything Ive ever done in my life!</h4>
  </div>
{% endblock %}

{% block content%}
  <div class="container">
    <p>
      Here you can find all the projects I have made that I can publicly share, Some incredibly useful, others less so! Feel free to share any of the content with anyone you know, or feature it wherever you like! However, please reference me as the creator, and use my dedicated download link, so that no illegitimate or malicious copies are made.
    </p>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h3>Blue Screen of Death Enabler</h3>
        <p>
          Blue screens of death are an occurance that has plagued windows users for years, when something goes wrong on their computer and windows just goes "Nope, screw this, i'm done, bye". BSOD Enabler is a simple tool that enables the ability to call a Blue Screen on request, whether it's for testing purposes, or just to annoy someone, which trust me it really does!
        </p>
        <p class="pull-right">
          <a href="{% url 'projects:bsod-enabler' %}" class="btn btn-default">More Information...</button>
        </p>
      </div>
      <div class="col-md-8">
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h3>Attact on Blocks Game</h3>
        <p>
          Attack on Blocks is a space invaders style game that I wrote for my IT coursework, for the games development unit. It was the first game i've written, and I think it turned out rather well, and the source code can be found at the bitbucket page. The game has a texture pack system, less 8-bit audio, as well as a much higher frame rate!
        </p>
        <p class="pull-right">
          <a class="btn btn-default">More Information...</a>
        </p>
      </div>
      <div class="col-md-8">
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h3>Hipchat Emoticons for All</h3>
        <p>
          <i>Hipchat emoticons for all</i> is a browser extension that allows the use of hipchat emoticons, by far the best set, on many other websites, including GitHub and Trello. Because life without emoticons is just boring, and some sites have just limited or terrible ones naturally.
        </p>
        <p class="pull-right">
          <a href="" class="btn btn-default">More Information...</a>
        </p>
      </div>
      <div class="col-md-8">
      </div>
    </div>
  </div>

  <div class="container">
    <h3>Github and Bitbucket?!</h3>
    <p>
      There is a reason that I have both a github and bitbucket account, whilst originally it was becuse different people used different services, now it just seems stupid to keep both and not really have a need for both! Now, after a eurika moment, I have a use for both services!
    </p>
    <p>
      I'm going to use github for production projects, ones that are out and released properly, as it allows for much better contributions. Bitbucket on the other hand will be used for small development projects, and making , as it allows for unlimited private repositories.
    </p>
  </div>
{% endblock %}
