{% extends 'base.html' %}
{% load staticfiles %}
{% block htmltitle %}Hipchat Emoticons for All{% endblock %}

{% block headercontent %}
  <div class="row black-text">
    <h1>Hipchat Emoticons for all!</h1>
  </div>
  <div class="row black-text">
    <h4>Bombard both your and others lives in emoticons - No website is safe!</h4>
  </div>
{% endblock %}

{% block content%}
  <div class="container margin-bottom">
  <p>After starting my new job at Dabapps, I was introduced to the world of <a href="https://hipchat.com">Hipchat</a>, and it's wonderful array of emoticons, as well as the ones added. It was wonderful, it made communicating with friends and colleagues much more interesting!</p>
  <p>Unfortunately, the emoticons on the other services we use, like <a href="https://github.com">Github</a>, were terrible in comparison. So it was after a discussion with <a href="https://github.com/jakesidsmith">@JakeSidSmith</a> about him just using things like (facepalm), (notsureif), and (wat) in <a href="https://www.messenger.com/">Facebook messenger</a>, and hoping people understand what it means, that I decided to make 'Hipchat Emoticons for all', so people like him could use a much better set of emoticons.</p>
  </div>
  <div class="container">
    <p>The premis is very simple, whenever it sees a hpichat emoticon code, like (notsureif), it replaces it with an emoticon. If only writing the code could have been this simple! I started writing the plugin in firefox, using <a href="https://wiki.mozilla.org/Jetpack">Jetpack</a>, which uses Javascript. The initial stages of the code were very simple, but I encountered problems making sure that anything loaded after the page was loaded (such as a facebook message), be changed too.</p>
    <p>Fortunately after many hours of testing, and changing the code, I finally got everything working perfectly, and in a way that made adding new sites incredibly easy! The code isnt the greatest in terms of performance, and there are some things that could have obviously been done better, but this was all done to help with a shared codebase between Chrome and Firefox, which don't play nice when it comes to extensions.</p>
    <p>Currently the application is in very beta stages right now, only having tested partial support for github, but the code is all available on GitHub, if people have their own suggestions of improvements. </p>
  </div>
  <div class="container">
    <div class="btn-group btn-group-justified">
      <p class="center-text">
        <a class="btn btn-primary btn-lg" href="">Download for Firefox</a>
        <a class="btn btn-default btn-lg" href="https://github.com/RealOrangeOne/hipchat-emoticons-for-all">View on Github <i class="icon ion-social-github"></i></a>
        <a class="btn btn-success btn-lg" href="">Download for Chrome</a>
      </p>
    </div>
  </div>
{% endblock %}
