{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-projectpage{% endblock %}

{% block content %}
  {% include 'common/header.html' %}
  <section>
    <div class="container">
      <p class="text-right small">
        Updated: {{ page.date }}
      </p>
      {% include_block page.body %}
    </div>
  </section>
  <div class="container text-center">
    <div class="btn-group">
      {% if page.get_download_link %}
        <a class="btn btn-primary btn-xl" href="{{ page.get_download_link }}">Download {{ page.title }}</a>
      {% endif %}

      {% if page.url %}
        <a class="btn btn-github btn-xl" href="{{ page.url }}"><i class="fa fa-github fa-lg"></i> View on Github</a>
      {% endif %}
    </div>
  </div>
{% endblock %}
