bandit==1.4.0
flake8==3.2.1
fontawesome_markdown==0.2.6
git+https://github.com/ryneeverett/python-markdown-comments.git
iso8601==0.1.11
markdown==2.6.7
nose2==0.6.5
pelican-minify==0.9
pelican==3.7.1
pyembed-markdown==1.1.0
python-resize-image==1.1.3
pyyaml==3.12
safety==0.5.1
sh==1.12.9
yamllint==1.6.0
