<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block htmltitle %}Page{% endblock%} - {{ SITENAME }}</title>

    <link rel="stylesheet" href="/static/css/index.css" type="text/css">
  </head>
  <body id="page-top">
    {% block navbar %}
      <nav id="main-nav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll" href="#page-top">
              TheOrangeOne
            </a>
          </div>
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
              <li><a class="page-scroll" href="/about/">About</a></li>
              <li><a class="page-scroll" href="/projects/">Projects</a></li>
              <li><a class="page-scroll" href="/contact/ ">Contact</a></li>
            </ul>
          </div>
        </div>
      </nav>
    {% endblock %}

    {% block content %}{% endblock %}

    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/libs.js"></script>
    <script src="/static/js/app.js"></script>
  </body>
</html>
