<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>{% block htmltitle %}Page{% endblock%} - {{ SITENAME }}</title>

    <link rel="stylesheet" href="/static/css/index.css" type="text/css">
  </head>
  <body id="page-top">
    {% block navbar %}
      {% include "extras/navbar.html" %}
    {% endblock %}

    {% block content %}{% endblock %}

    {% include "extras/footer.html" %}

    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/libs.js"></script>
    <script src="/static/js/app.js"></script>

    <noscript>
      <style>html, body { display: none }</style>
      <meta http-equiv="refresh" content="0.0;url=/no-js/" />
    </noscript>
  </body>
</html>
