{% extends "base.html" %}

{% block htmltitle %}
  {{ article.title }}
{% endblock %}

{% block metadata %}
  {% for tag, value in article.ogtags %}
    <meta property="{{ tag }}" content="{{ value|striptags|e }}" />
  {% endfor %}
{% endblock %}

{% block content %}
  {% include 'extras/header.html' with context %}
  <section>
    <div class="container">
      <p class="text-right small">
        Published: {{ article.date|datetime }}
      </p>
      {{ article.content }}
    </div>
  </section>
{% endblock %}
