{% extends "base.html" %}

{% block htmltitle %}
  {{ category|get_html_title }}
{% endblock %}

{% block metadata %}
  {{ page.metatags }}
{% endblock %}

{% block content %}
  {% include 'extras/header.html' with instance=category %}
  {% if category.page.content %}
    <section>
      <div class="container">
        {{ category.page.content }}
      </div>
    </section>
  {% endif %}
  {% if not category.page.hide_list %}
    <section>
      <div class="container">
        <div class="row no-gutter">
          {% for article in articles|sort(attribute="title") %}
            <div class="media category">
              <div class="media-left">
                {% if article.image %}
                  <div class="image" data-image="{{ article.image }}"></div>
                {% endif %}
              </div>
              <div class="media-body">
                <a href="/{{ article.url }}">
                  <h4 class="media-heading">{{ article|get_title }}</h4>
                </a>
                <p>{{ article.summary|striptags|e }}</p>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </section>
  {% endif %}
{% endblock %}
