{% extends "base.html" %}

{% block htmltitle %}
  {{ category|title }}
{% endblock %}

{% block metadata %}
  {% for tag, value in page.ogtags %}
    <meta property="{{ tag }}" content="{{ value|striptags|e }}" />
  {% endfor %}
{% endblock %}

{% block content %}
  <section class="bg-primary">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2 text-center">
          <h1 class="section-heading">{{ category.name|title }}</h1>
          <hr class="light">
        </div>
      </div>
    </div>
  </section>
  {% if category.page %}
    <section>
      <div class="container">
        {{ category.page.content }}
      </div>
    </section>
  {% endif %}
  <section class="no-padding">
    <div class="container-fluid">
      <div class="row no-gutter">
        {% for article in dates %}
          <div class="col-lg-4 col-sm-6">
            <a href="#" class="portfolio-box">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category">
                    {{ article.title }}
                  </div>
                  <div class="project-name">
                    {{ article.summary|striptags|e }}
                  </div>
                </div>
              </div>
            </a>
          </div>
        {% endfor %}
      </div>
    </div>
  </section>
{% endblock %}
