#navigation {
  @media (min-width: @screen-xs-max) {
    .flexbox();
    justify-content: center;
    float: none;
  }
  & a {
    .transition(~"ease-in-out .3s color");
  }
  & > li {
    @media (min-width: @screen-md-min) {
      margin-right: 23px;
    }
    & > a {
      @media (min-width: @screen-md-min) {
        padding: 15px 10px;
      }
      @media (max-width: @screen-xs-max) {
        padding: 15px 15px;
      }
    }
  }
  .dropdown-menu {
    @media (min-width: @screen-sm) {
      right: auto;
      left: 50%;
      transform: translate(-50%, 0);
    }
    .transition(~"ease-in-out .2s all");
    &.dropup {
      bottom: 100%;
      top: initial;
    }
    &.dropdown {
      top: 100%;
      bottom: initial;
    }
    .open & {
      opacity: 1;
    }
    a {
      padding-left: 20px;
    }
  }
}


.navbar {
  border-radius: 0;
  .home-button a {
    .transition(~"ease-in-out .3 all");
  }
}

.navbar-nav.nav {
  margin: 0;
}

.navbar-toggle {
  right: 10px;
}

#navbar-container {
  z-index: 0;
  @media (max-width: @screen-xs-max) {
    width: 96%;
    left: 2%;
  }
  @media (min-width: @screen-sm-min) {
    width: 100%;
  }
  margin: 0;
  z-index: 10000;
  i + * {
    margin-left: 5px;
  }
  & .container-fluid{
    padding-right: 0;
    padding-left: 0;
  }
  &.align {
    @media (min-width: @screen-sm) {
      position: absolute;
      height: 52px;
    }
    @media (max-width: @screen-sm) {
      position: fixed;
      top: 0;
      width: 95%;

    }
  }
}

#navbar-anchor {
  position: absolute;
  height: 52px;
}

@media (min-width: @screen-xs-max) {
  .home-button {
    margin-right: 15px !important;
  }
}

#navbar {
  margin: 0;
  padding: 0;
}

.navbar-brand {
  margin-left: 15px;
}

.stick-top {
  position: fixed;
  top: 0;
  z-index: 10000;
}

@media (min-width: @screen-xs-max) {
  navbar + * {
    margin-top: 52px;
  }
}

/* @group Header Navbar*/
@media (min-width: @screen-xs-max) {
  .header navbar{
    #navbar-container {
      position: initial;
      margin: 0 auto;
      width: 100%;
    }
  };
}

/* @end Header Navbar*/
