// Mixins

@mixin button-variant($color, $background, $border) {
  border-color: $border;
  background-color: $background;
  color: $color;

  &:hover,
  &:focus,
  &.focus,
  &:active,
  &.active,
  .open > .dropdown-toggle & {
    border-color: darken($border, 7%);
    background-color: darken($background, 5%);
    color: $color;
  }

  &:active,
  &.active,
  .open > .dropdown-toggle & {
    background-image: none;
  }

  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    &,
    &:hover,
    &:focus,
    &.focus,
    &:active,
    &.active {
      border-color: $border;
      background-color: $background;
    }
  }

  .badge {
    background-color: $color;
    color: $background;
  }
}
