{% extends "base.html" %}

{% load wagtailcore_tags bootstrap %}

{% block body_class %}template-passwordrequied{% endblock %}

{% block content %}
  <section class="bg-primary">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2 text-center">
          <h1 class="section-heading">Authentication Required</h1>
          <hr class="light">
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="col-sm-4 col-sm-offset-4 text-center">
      <h1>
        <i class="fa fa-lock fa-5x"></i>
      </h1>
      <p>You need a password to access this page.</p>
      <form action="{{ action_url }}" method="POST" role="form">
        {% csrf_token %}
        {{ form|bootstrap }}
        <div class="form-group">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
    </div>
  </section>
{% endblock %}
