{% extends 'base.html' %}

{% block htmltitle %}Oh no, There's nothing here!{% endblock %}

{% block headercontent %}
  <div class="row">
    <h1>404 - Page not found</h1>
  </div>
  <div class="row">
    <h4>The page you were looking for could not be found. </h4>
    <h4>Don't worry, I've sent these people to to go and find it. Rest assured it will be found!</h4>
  </div>
{% endblock %}

{% block bodyClass %}404{% endblock %}

{% block content %}
  <div class="container-fluid">
    <div class="container">
      <h1>There's nothing here!</h1>
    </div>
  </div>
  <div class="container-fluid">
    <div class="container">
    </div>
  </div>
{% endblock %}