{% extends 'base.html' %}

{% block htmltitle %}404 - It's not here!{% endblock %}

{% block bodyClass %}four-o-four{% endblock %}

{% block content %}
  <div class="container header">
    <h1>Uh Oh - There's nothing here!</h1>
  </div>
  <div class="container-fluid image"></div>
  <div class="container-fluid message">
    <div class="container">
      <h3>The page you were looking for could not be found.</h3>
      <h4>Don't worry, I've send these badass tech ninjas to go and find it. Rest assured it will be found.</h4>
    </div>
  </div>
  <div class="container-fluid move-on">
    <div class="container">
      <h4>Nope, there's nothing more down here either. Why not <a href="javascript:window.history.back()">Go back</a> or <a href="/">Return Home</a></h4>
    </div>
  </div>
{% endblock %}