{% extends 'base.html' %}

{% block htmltitle %}Student Robotics 2014{% endblock %}

{% block headercontent %}
  <div class="row">
    <h1>Student Robotics 2014</h1>
  </div>
  <div class="row">
    <h4>The home of Lucy. <small>(No it doesnt stand for anything)</small></h4>
  </div>
{% endblock %}

{% block content%}
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <img style="border-radius: 12px;" class="full-width" src="https://farm1.staticflickr.com/737/20984044320_ccbba155f9_o.gif" />
      </div>
      <div class="col-sm-8">
        <p>Welcome to the homepage of Collyer's Student Robotics Team 2015 (The 'A' Team) - Creators of 'A.L.I.C.E'! Here you can see everything that goes on throughout the competition.</p>
        <p>This website is here to bridge the gap between the team and the outside world, and also to document everything that we do so that parents and Blue Shirts can see what we have been getting up to! Not only is the website for this, but it's also in the competition too! There is a prize (Awarded at the competition itself), for the best online presence. Hopefully no one else that has entered has their own domain name with dedicated section for the competition! </p>
      </div>
    </div>
  </div>

  <div class="container">
    <h2>The Competition</h2>
    <p>As was announced at kickstart, the game for this year is a take on the classic gamemode Capture the Flag. 4 teams compete over 5 flags to move as many of them as they can into their scoring zones. The person with the most flags in their scoring zone wins.</p>
    <p>The flags are 25cm cubes of wood on caster wheels weighing roughly 2kg. The rules prevent us from lifting them, so the idea is to drag them around!</p>
    <p>To see a copy of the rules from the competition, Click Here!</p>
  </div>

  <div class="full-width" style="height: 75%;">
    <div class="full-height fix-image" style="background-size: cover; background-image: url('https://farm8.staticflickr.com/7704/17309744901_2d0ac6a174_b.jpg');"></div>
  </div>

  <div class="container">
    <h2>Why call it 'ALICE'?</h2>
    <p>The decision to name the robot 'Alice' was a decision made by the whole group. Thats a lie, Ben suggested it and as no one had any better ideas and because he gets overruling vote on this for some reason , it stuck.</p>
    <p>After this decisions was made, I decided to set out to find the cheesiest acronym we could for 'Alice', to make the name slightly more interesting, and not some random girls name pulled from thin air on the bus ride home from kickstart. There were a few rather good ideas, most of them coming from Sam:</p>
    <p><ul>
      <li>'Automated Laser-cut Interactive Capturing Entity'</li>
      <li>'Abnormally Lame and Innacurate Control-less Engine'</li>
      <li>'Anti-Losing Immaculate Competitive Extravaganza'</li>
    </ul></p>
    <p>One idea was also suggested that we name the robot after the first sponsor we got, but as we didnt get one util after the team split, the other team took that name instead. In the end we decided to go with one that Sam initially suggested, so 'Alice' officially stands for:</p>
    <p><h3 class="center-text">'Autonomous Logistics and Inevitable Collision Engine'</h3></p>
  </div>
{% endblock %}
