{% extends 'base.html' %}

{% block htmltitle %}The Robot | Student Robotics 2015{% endblock %}

{% block headercontent %}
  <div class="row">
    <h1>A.L.I.C.E</h1>
  </div>
  <div class="row">
    <h4>The Autonomous Logistics and Inevitable Collision Engine!</h4>
  </div>
{% endblock %}

{% block content%}
  <div class="container">
    <p>
      Our entry for 2015, named 'ALICE', was a massive improvement over last years model, in both design, and the code for it. Before ALICE was built, the design team built us a very basic chassis usind scrap parts from 2014, which allowed us to write a large amount of the code base before we even had the robot built. Originally I wanted the final chassis to be built before the end of January, so we had a lot of time to test out the design for the robot and test using the final, in reality, it was closer to the middle of march before this was a reality.
    </p>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <!-- Image of initial design (on paper) -->
      </div>
      <div class="col-sm-8">
      </div>
    </div>
    <p>
      The entire chassis was made from custom, in-house cut, sheets of plywood, which allowed us to be very precise in the design of the robot to make sure that all the pieces would fit together properly, making the chassis less likely to break.
    </p>
    <p>
      The initial design was concieved by Ben, at kickstart, and was then refined over the coming weeks by me and the rest of the building team. This was made much easier from the use of the 3d model (See Right), that ben made, which helped us visualize any changes that were to be made, as well as work out strategy by seeing the measurements we had to work with.
    </p>
    <p>
      Once the build was completed, it was to a much higher design and quality than I could have ever imagined! It allowed us to forget about any shortcomings when it came to chassis, not having to compensate for weight distribution, or worry about the grip on the wheels.
    </p>
  </div>
  <div class="full-width" style="height: 75%;">
    <div class="full-height fix-image" style="background-size: cover; background-image: url('https://farm8.staticflickr.com/7704/17309744901_2d0ac6a174_b.jpg');"></div>
  </div>

  <div class="container">
    <h2>Why call it 'ALICE'?</h2>
    <p>The decision to name the robot 'Alice' was a decision made by the whole group. Thats a lie, Ben suggested it and as no one had any better ideas and because he gets overruling vote on this, for some reason , it stuck.</p>
    <p>After this decisions was made, I decided to set out to find the cheesiest acronym we could for 'Alice', to make the name slightly more interesting, and not some random girls name pulled from thin air on the bus ride home from kickstart. There were a few rather good ideas, most of them coming from Sam:</p>
    <p><ul>
      <li>'Automated Laser-cut Interactive Capturing Entity'</li>
      <li>'Abnormally Lame and Innacurate Control-less Engine'</li>
      <li>'Anti-Losing Immaculate Competitive Extravaganza'</li>
    </ul></p>
    <p>One idea was also suggested that we name the robot after the first sponsor we got, but as we didnt get one util after the team split, the other team took that name instead. In the end we decided to go with one that Sam initially suggested, so 'Alice' officially stands for:</p>
    <p><h3 class="center-text">'Autonomous Logistics and Inevitable Collision Engine'</h3></p>
  </div>
{% endblock %}
