<footer>
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <p class="social">
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 powered-by">
        <p>
          Powered by <a href="https://wagtail.io">Wagtail</a>
          and a whole heap of <a href="https://github.com/RealOrangeOne/theorangeone.net">Magic</a>!
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <a href="https://circleci.com/gh/RealOrangeOne/theorangeone.net">
          <img class="ci-badge" src="https://circleci.com/gh/RealOrangeOne/theorangeone.net.svg?style=svg" alt="CI Badge" />
        </a>
      </div>
    </div>
  </div>
</footer>
