{% load static wagtailuserbar wagtailmetadata_tags %}

<!DOCTYPE html>
<html lang="{{ settings.LANGUAGE_CODE }}">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>{% block htmltitle %}{% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}{% endblock %} | {{ settings.WAGTAIL_SITE_NAME }}</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width" />
    <meta http-equiv="Content-Language" content="{{ settings.LANGUAGE_CODE }}" />
    <meta name="superfish" content="nofish" />
    <meta name="application-name" content="{{ settings.WAGTAIL_SITE_NAME }}" />

    {% meta_tags %}

    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">

    {% block extra_css %}{% endblock %}
    <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
  </head>
  <body class="{% block body_class %}{% endblock %}" id="page-top">
    {% wagtailuserbar %}

    {% include 'common/navbar.html' with page=self %}

    {% block content %}{% endblock %}

    {% include 'common/footer.html' %}

    <script type="text/javascript" src="{% static 'js/libs.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/app.js' %}"></script>

    {% block extra_js %}{% endblock %}
  </body>
</html>
