{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <title>{% block baseHtmlTitle %}{% endblock %} | TheOrangeOne</title>
    <meta chatset='utf-8' />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
    <link rel="shortcut icon" href=""/>
  </head>
  <body class="{% block baseBodyClass%}{% endblock %}">
    {% block baseContent%}{% endblock %}
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <h3>Copyright &copy; TheOrangeOne 2015</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <a href="">About</a> | <a href="https://github.com/RealOrangeOne/theorangeone.net" target="_blank">View Source</a> | <a href="">Contact</a>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <a href="https://circleci.com/gh/RealOrangeOne/theorangeone.net" target="_blank">
              <img class="ci-badge" src="https://circleci.com/gh/RealOrangeOne/theorangeone.net.svg?style=svg"/>
            </a>
          </div>
        </div>
      </div>
    </footer>

    <script type="text/javascript" src="{% static 'js/libs.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/app.js' %}"></script>
    {% if not no_js_redirect %}
      <noscript>
        <style> html, body { display:none; }</style>
        <meta http-equiv="refresh" content="0.0;url={% url 'no-js' %}">
      </noscript>
    {% endif %}
  </body>
</html>
