{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <title>{{ html_title }} | TheOrangeOne</title>
    <meta chatset='utf-8' />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
    <link rel="shortcut icon" href=""/>
  </head>
  <body class="{{ body_class }}">
    {% block baseContent%}{% endblock %}
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <p class="social">
              <a href="https://twitter.com/RealOrangeOne"><i class="icon ion-social-twitter"></i></a>
              <a href="https://instagram.com/RealOrangeOne"><i class="icon ion-social-instagram-outline"></i></a>
              <a href="soon"><i class="icon ion-social-reddit"></i></a>
              <a href="https://www.youtube.com/user/TheOrangeOneOfficial"><i class="icon ion-social-youtube"></i></a>
              <a href="soon"><i class="icon ion-social-codepen"></i></a>
              <a href="soon"><i class="icon ion-social-twitch-outline"></i></a>
              <a href="https://github.com/RealOrangeOne"><i class="icon ion-social-octocat"></i></a>
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <p class="triple">
              <a href="{% url 'pages:about' %}">About</a> | <a href="https://github.com/RealOrangeOne/theorangeone.net" target="_blank">View Source</a> | <a href="">Contact</a>
            <p>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <p>Powered by <a href="https://www.djangoproject.com/">Django</a>, <a href="https://clients.inceptionhosting.com/aff.php?aff=256">Inception Hosting</a>, and a whole heap of <a href="https://github.com/RealOrangeOne/theorangeone.net">Magic</a>!</p>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <a href="https://circleci.com/gh/RealOrangeOne/theorangeone.net" target="_blank">
              <img class="ci-badge" src="https://circleci.com/gh/RealOrangeOne/theorangeone.net.svg?style=svg"/>
            </a>
          </div>
        </div>
      </div>
    </footer>

    <script type="text/javascript" src="{% static 'js/libs.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/app.js' %}"></script>
    {% if js_redirect %}
      <noscript>
        <style> html, body { display:none; }</style>
        <meta http-equiv="refresh" content="0.0;url={% url 'no-js' %}">
      </noscript>
    {% endif %}
  </body>
</html>
