{% extends 'base.html' %}

{% block baseBodyClass %}
  {% block bodyClass %}{% endblock %}
{% endblock%}

{% block baseContent %}
  <div class="jumbotron header">
    <div class="container">
      <h1>{% block pageTitle %}{% endblock %}</h1>
      {% block header_image %}
        {% if header_image %}
          <div class="image" style="background-image: url({{ header_image }});"></div>
        {% endif %}
      {% endblock %}
      <div id="breadcrumbs"></div>
    </div>
    <navbar></navbar>
  </div>
  {% block content %}{% endblock %}
{% endblock %}
