{% extends 'base.html' %}
{% load staticfiles %}
{% block baseContent%}
  <div class="container-fluid" id="header">
      <div class="jumbotron container animated zoomInDown">
        <img src="{% static 'img/logo-transparent.png'%}"/>
        <h1>Hello, world!</h1>
        <p>Some random subtitle</p>
        <p class="scroll-icon"><a href="#intro-text" class="no-color-change"><i class="icon ion-chevron-down"></i></a></p>
      </div>
    </div>
    <div class="container-fluid" id="intro-text">
      <div class="container">
        <p>Bacon ipsum dolor amet pork chop biltong venison pork belly, pig meatball kevin cow ham pancetta pork fatback doner flank. Flank turducken swine leberkas andouille, tongue ball tip cow chicken ham hock sausage. Ball tip swine tri-tip salami turkey beef ribs doner pancetta shankle pork chop prosciutto. Spare ribs biltong pork loin, flank beef leberkas ribeye t-bone alcatra ball tip. Pork rump sausage capicola, beef ribs pancetta drumstick doner. Kielbasa fatback turducken turkey jowl strip steak. Landjaeger andouille t-bone, bacon cupim prosciutto short ribs.</p>
        <p>Doner turducken bacon tail ham hock. Cow corned beef shankle pork chop frankfurter turducken. Pig ball tip tri-tip, meatloaf filet mignon cow andouille cupim swine pork corned beef sausage spare ribs chuck. Beef jowl bacon shank capicola. Kevin turkey ground round pork loin t-bone. Tri-tip turducken ham, short ribs prosciutto kevin pork loin fatback doner pig kielbasa tenderloin.</p>
      </div>
    </div>

    <div class="container-fluid" id="project-images-types"></div>

    <div class="container-fluid" id="twitter-feed">
      <div class="container">
        <div class="row">
          <div class="col-sm-6 col-xs-12 feed">
            <h5>Twitter widget broken - repair coming soon!</h5>
          </div>
          <div class="col-sm-6 twitter-icon hidden-xs">
            <a href="https://twitter.com/RealOrangeOne" class="no-color-change">
              <i class="icon ion-social-twitter"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
    <navbar></navbar>
    <div class="container-fluid" id="project-thumbnails">
      <div class="container">
        <div class="row">
          <h1>All Projects</h1>
          {% for key, project in projects.items %}
            <div class="col-sm-6 col-md-4">
              <div class="thumbnail">
                <img src="{{ project.image }}" alt="{{ key }} image">
                <div class="caption">
                  <h3>{{ project.title }}</h3>
                  <p></p>
                  <a href="/project/">
                    Read More
                  </a>
                </div>
              </div>
            </div>
          {% endfor %}
          <div class="col-sm-6 col-md-4">
            <div class="thumbnail see-more">
              <a href="/projects">
                <h1>See All</h1>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}
