{% extends 'base.html' %}

{% block htmltitle %}Homepage{% endblock %}

{% block content%}
  <div class="container-fluid" id="header">
      <div class="jumbotron container animated zoomInDown">
        <img src="http://placehold.it/230x230"/>
        <h1>Hello, world!</h1>
        <p>Some random subtitle</p>
        <p><a href="#intro-text" class="no-color-change"><i class="icon ion-chevron-down"></i></a></p>
      </div>
    </div>
    <div class="container-fluid" id="intro-text">
      <div class="container">
        <p>Bacon ipsum dolor amet pork chop biltong venison pork belly, pig meatball kevin cow ham pancetta pork fatback doner flank. Flank turducken swine leberkas andouille, tongue ball tip cow chicken ham hock sausage. Ball tip swine tri-tip salami turkey beef ribs doner pancetta shankle pork chop prosciutto. Spare ribs biltong pork loin, flank beef leberkas ribeye t-bone alcatra ball tip. Pork rump sausage capicola, beef ribs pancetta drumstick doner. Kielbasa fatback turducken turkey jowl strip steak. Landjaeger andouille t-bone, bacon cupim prosciutto short ribs.</p>
        <p>Doner turducken bacon tail ham hock. Cow corned beef shankle pork chop frankfurter turducken. Pig ball tip tri-tip, meatloaf filet mignon cow andouille cupim swine pork corned beef sausage spare ribs chuck. Beef jowl bacon shank capicola. Kevin turkey ground round pork loin t-bone. Tri-tip turducken ham, short ribs prosciutto kevin pork loin fatback doner pig kielbasa tenderloin.</p>
      </div>
    </div>

    <div class="container-fluid" id="project-images"></div>

    <div class="container-fluid" id="twitter-feed">
      <div class="container">
        <div class="row">
          <div class="col-sm-6 feed">
            <p>Twitter feed goes here</p>
          </div>
          <div class="col-sm-6 twitter-icon">
            <div class="hidden-xs">
              <h1>
                <i class="icon ion-social-twitter"></i>
              </h1>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}
;