<footer>
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h2 class="social">
          {% for link in FOOTER_LINKS %}
            <a href="{{ link.url }}" class="footer-link"><i class="fa {{ link.icon }}"></i></a>
          {% endfor %}
        </h2>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 powered-by">
        <p>
          Powered by <a href="http://blog.getpelican.com/">Pelican</a>,
          <a href="https://clients.inceptionhosting.com/aff.php?aff=256">Inception Hosting</a>,
          and a whole heap of <a href="https://github.com/RealOrangeOne/theorangeone.net">Magic</a>!
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <a href="https://circleci.com/gh/RealOrangeOne/theorangeone.net">
          <img class="ci-badge" src="https://circleci.com/gh/RealOrangeOne/theorangeone.net.svg?style=svg" alt="CI Badge" />
        </a>
      </div>
    </div>
  </div>
</footer>
